.diario {
    margin-bottom: 4rem;
}

.dia {
    border: 1px solid gray;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
}

.image {
    width: 50%;
    margin: 1rem 25%;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

strong {
    font-weight: 800;
}

summary {
    list-style: none;
    cursor: pointer;
}

.dia p {
    padding: 0.2rem 0;
}
