:root {
    --color-font: #FFFFFF;
    --background-color: #1A242D;
    --background-menu: #203546;
    --menu-destaque: #A4B7DC;
    --menu-font: #EEEEEE;
    --font-size: 16px;
    --font-icon: 'icon';
    --font-titulo: 'Silkscreen', cursive;
    --font-texto: 'Ubuntu', sans-serif;
    ;
}

@font-face {
    font-family: 'icon';
    src: url(icom.ttf);
}

.corpo {
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-texto);
    color: var(--menu-font);
}

.cabecalho {
    background-color: var(--background-menu);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px var(--menu-destaque);
    z-index: 2;
}

.cabecalho__titulo {
    font-size: 1.5rem;
    padding: 12px 16px 12px 32px;
    font-family: var(--font-titulo);
}

.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.menu__link {
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--background-menu);
}

.menu__link-icon {
    font-family: var(--font-icon);
    padding: 0.2rem 0 0.6rem 0;
    font-size: 1.4rem;
}

.menu__link-text {
    font-family: var(--font-titulo);
    font-size: 0.5rem;
}

.menu__link--ativo {
    color: var(--menu-destaque);
}

.conteudo {
    margin-top: 60px;
}

.rodape {
    margin-bottom: 65px;
}

@media screen and (min-width: 760px) {

    .menu {
        top: 7vh;
        bottom: auto;
        display: grid;
        height: 93vh;
    }

    .menu__link {
        width: 70px;
    }

    .conteudo {
        margin: 60px 0 0 60px;
    }
    
    .rodape {
        margin-left: 60px;
    }
    
}

@media screen and (min-width: 960px) {

    .menu {
        top: 7vh;
        bottom: auto;
        display: grid;
        height: 93vh;
    }

    .menu__link {
        width: 150px;
        display: flex;
        align-items: center;
    }

    .menu__link-icon {
        font-size: 1.5rem;
        padding: 0;
    }

    .menu__link-text {
        font-size: 1rem;
        padding: 0 0 0 0.5rem;
    }

    .conteudo {
        margin: 12vh 0 0 15vh;
    }
    
    .rodape {
        margin-left: 100px;
    }
    
}