:root {
    --font-redessociais: 'redes-sociais'
}

@font-face {
    font-family: 'redes-sociais';
    src: url(redes.ttf);
}

.container__item {
    font-size: 5rem;
    color: white;
    font-family: var(--font-redessociais);
    padding: 1rem 0 1rem 0rem;
    text-align: center;
}


.rodape {
    text-align: center;
    padding-top: 40vh;
}

.text {
    font-size: 3rem;
}