:root {
    --color-font: #FFFFFF;
    --background-color: #1A242D;
    --background-menu: #203546;
    --menu-destaque: #A4B7DC;
    --menu-font: #EEEEEE;
    --font-size: 16px;
    --font-icon: 'icon';
    --font-titulo: 'Silkscreen', cursive;
    --font-texto: 'Ubuntu', sans-serif;
    ;
}

@font-face {
    font-family: 'icon';
    src: url(../../assets/fonts/icom.ttf);
}

/* .corpo {
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-texto);
    color: var(--menu-font);
}



.corpo__pagina {
    width: 100%;
}

@media screen and (min-width: 760px) {

    .corpo__pagina {
        display: flex;

    } 


    .conteudo {
        height: 95vh;  
        width: 80vw;      
    }
    

    
}

@media screen and (min-width: 960px) {



} */